@import "tailwindcss";

@theme {
  --color-primary: #009688;
  --color-primary-dark: #00796b;
  --color-bg-dark: #0a0a0a;
  --color-card-bg: #ffffff;
  --color-input-bg: #f5f5f5;
  --color-text-main: #333333;
  --color-text-muted: #666666;
  --color-bg-light: #f8f9fa;
  --color-bg-sidebar: #ffffff;
}

@layer base {

  html,
  body,
  #root {
    @apply h-full;
  }

  body {
    @apply font-sans antialiased min-h-screen bg-bg-light text-text-main;
  }
}